<div>
	<%= link_to "login", new_user_session_path, class: "" %>
	<%= link_to "signup", new_user_registration_path, class: "" %>
	<%= link_to "Contact us", contact_us_path, class: "" %>
	<%= link_to "about us", about_us_path, class: "" %>
	<%= link_to "privacy policy", privacy_policy_path, class: "" %>
	<%= link_to "terms and conditions", terms_and_conditions_path, class: "" %>
	<%= link_to "Continue", add_choices_path %>
</div>